<ion-content>
  <div class="login-wrapper">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login-card">
      <div style="margin-bottom: 30px;">
        <img style="border-radius: 10%;" src="../../assets/listifyFont.png" alt="icon">
      </div>
      <ion-input
        label="Usuario"
        label-placement="floating"
        name="username"
        ngModel
        required>
      </ion-input>

      <ion-input
        label="Clave"
        label-placement="floating"
        type="password"
        name="password"
        ngModel
        required>
      </ion-input>

      <ion-button expand="block" type="submit">
        Ingresar
      </ion-button>
    </form>

    <ion-button fill="clear" routerLink="/register" class="register-link">
      Registrarse
    </ion-button>
  </div>
</ion-content>
