<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title #animatedMainTitle>¡Hola, {{ user | titlecase }}!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h3>Mis Listas</h3>

  <div #animatedMenu style="display: flex; justify-content: center; margin-bottom: 20px;">
    <img width="150" class="icon-round" src="../../assets/Think.png" alt="Thinking">
  </div>

  <div *ngIf="shoppingLists.length === 0; else hasLists">
    <div class="ion-text-center ion-padding-top empty-state-card">
      <ion-icon #emptyIcon name="cart-outline" size="large" color="medium"></ion-icon>
      <p #emptyText>Aún no tienes listas de compras.</p>
      
      <ion-button (click)="createNewList()" color="secondary" shape="round">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Crear una lista
      </ion-button>
    </div>
  </div>

  <ng-template #hasLists>
    <ion-list>
      <ion-item-sliding *ngFor="let lista of shoppingLists; let i = index" class="sliding-card">
        <ion-item button lines="none" (click)="goToList(lista.id)" class="list-item">
          <ion-icon name="list-circle" slot="start" size="large" color="secondary"></ion-icon>
          <ion-label>
            <h2>{{ lista.name }}</h2>
            <p>Desliza izquierda para borrar</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteList(i)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-template>

<div class="ion-padding-top">
    
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
      <h3>Ideas para cocinar</h3>
    </div>

    <div *ngIf="categories.length === 0" class="ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p><small>Buscando ingredientes...</small></p>
    </div>

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6" size-md="4" *ngFor="let cat of categories">
          <ion-card button (click)="seeMealsByCategory(cat)" class="category-card">
            <img [src]="cat.strCategoryThumb" alt="food" style="height: 100px; width: 100%; object-fit: cover;" />
            <ion-card-header>
              <ion-card-subtitle>{{ cat.strCategory }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createNewList()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{ selectedCategory }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        
        <div *ngIf="mealsList.length === 0" class="ion-text-center ion-padding">
          <ion-spinner></ion-spinner>
          <p>Buscando recetas...</p>
        </div>

        <ion-list>
          <ion-item button *ngFor="let meal of mealsList" (click)="chooseMeal(meal)">
            <ion-thumbnail slot="start">
              <img [src]="meal.strMealThumb">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ meal.strMeal }}</h2> </ion-label>
            <ion-icon name="add-circle-outline" slot="end" color="secondary"></ion-icon>
          </ion-item>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
