<ion-header>
  <ion-toolbar>
    <ion-title #animatedMainTitle>¡Hola, {{ user }}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Mis Listas</h3>
  <div *ngIf="shoppingLists.length === 0; else hasLists">
    <div class="ion-text-center ion-padding-top">
      <ion-icon #emptyIcon name="cart-outline" size="large" color="medium"></ion-icon>
      <p #emptyText>Aún no tienes listas de compras.</p>
      
      <ion-button (click)="createNewList()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Crear una lista
      </ion-button>
    </div>
    </div>

  <ng-template #hasLists>
    <ion-list #animatedMenu>
      <ion-item button *ngFor="let lista of shoppingLists" (click)="goToList(lista.id)">
        <ion-label>{{ lista.id }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createNewList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>